@import"reset.css";
@import"normalize.css";
@import url('http://fonts.googleleapis.com/css?family=Open+Sans:400,700');

body{
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #999;
	background-image:url(../images/green.png);
}
.wrap{
	width: 400px;
	margin: 0 auto;
}
.header{
	background-color: white;
	min-height: 75px;
	width: 50%;
	margin-left: 290px;
	color: black;
    font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	box-shadow: 3px 3px 9px #8B8B8A;
	padding: 22px 6%;
}
.wrap{

}

.add-new-task{
	margin-left: 150px;
}


.task-list {

	width: 80;
	min-height: 300px;
	background: #fff;
	box-shadow: 2px 2px 8px #ddd;
	padding: 22px 6%;
	background-color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	margin-left: 100px;
}

@media (min-width: 600px) {

body{
		height: 100%;
		width: 100%;
	}
	
}




a {
  text-decoration: none;
  @include transition( all 200ms ease-in );
}

.lin-t {
	  @include transition( all 300ms linear );
}

.button {
	  font-family: 'Aldrich', sans-serif;
	  text-align: center;
	  padding: 10px 10px;
	  color: white;
	  text-transform: uppercase;
}

.welcome-button {
	  position: fixed;
	  top: 40%;
	  left: 50%;
	  margin-left: -78px;
	  @include transition( all 600ms ease-in );

	  a {
		    line-height: 30px;
		    @include opacity( 1 );
		    @include transition( all 600ms ease-in );

		  &.out {
			    @include opacity( 0 );
	  	}
	}

	  &.out {
		    @include opacity( 0 );
	  }
    
}

[class*='bt-slider-'] {
	  left: 100%;
	  position: absolute;
	  height: 100%;
	  border-left: 1px solid white;
	  z-index: 1000;
	  @include opacity( 1 );

	  &.out {
		    @include opacity( 0 );
	  }
}

.bt-slide-l {
  left: 0;
}

.bt-slider-0 { @include transition( all 200ms ease-in ); }
.bt-slider-1 { @include transition( all 800ms ease-in ); }
.bt-slider-2 { @include transition( all 300ms ease-in ); }
.bt-slider-3 { @include transition( all 500ms ease-in ); }
.bt-slider-4 { @include transition( all 1000ms ease-in ); }

.bt-sl-solid-l {
	  position: absolute;
	  left: 0;
	  height: 100%;
	  border-left: 2px solid orange;
	  z-index: 1001;
	  @include transition( all 500ms ease-in-out );

	  &.out {
		    left: 50%;
	  }

	  &.down {
		    height: 0%;
	  }
}

.bt-sl-solid-r {
	  position: absolute;
	  right: -1px;
	  height: 100%;
	  border-left: 2px solid orange;
	  z-index: 1001;
	  @include transition( all 500ms ease-in-out );

	  &.out {
		    right: 50%;
	  }

	  &.down {
		    height: 0%;
	  }
}